html
	head
		title #{title} | Sample App
	body
		object(width="100%",height="100%", type="application/pdf", data="#{PDF}?#zoom=85&scrollbar=0&toolbar=0&navpanes=0")
			p Sorry document not available