table.booklist
	thead
		th Book Title
		th Author
		th ISBN
		th View
	tbody
		each book,i in books
			tr
				td #{book.title}
				td #{book.author}
				td #{book.isbn}
				td 
					a(href="/books?pdf=#{book.file}",class="iframe") pdf