html
	head
		title #{title} | Sample App
		link(rel="stylesheet",href="/css/style.css")
		script(type="text/javascript", src="/js/common.js")
	body
	div.header
		p Sample App
	div.centerbox
		div.leftbar
			p Welcome #{currentUser}
			p #{title}
			p
				a(href="/adminlogin") Admin Login <br/>
				a(href="/books") Books
				<br/> 
				if currentUser !== 'Guest'
					a(href="/addbooks") Add books				
		div.contentbox #{booklist}